.Container{
    margin-left: 300px;
    margin-top: 50px;
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-bg-opacity: 0.7;
    background-color: rgb(43 42 55/var(--tw-bg-opacity));
    --tw-border-opacity: 0.2;
    border-color: rgb(255 255 255/var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 1.5rem;
    flex-direction: column;
    width: 900px;
    height: 620px;
    display: flex;
    position: relative;
}